<!DOCTYPE HTML>
<html>
<head>
<title>Panoro | Search Documents</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script src="/templates/jquery-1.9.0.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/treefile.css" />

<!-- <script type="text/javascript"> 
 	window.onload = function() {
 		 alert("is working");
 	}
</script> -->

</head>
<body>
		<div id="header">
			<div class="content">
				<h1>Panoro header</h1>
				<p>all information header goes here</p>
				<br>
				Index:  <a href="/">Back to Index</a>
			</div>
		</div> <!-- end header -->

		<div id="wrapper">
			<div id="leftouter">
				<div class="content">
					<h3>Folder Tree</h3>
					{% if folder_list %}
					    <table border=1>
					        <tr>
					          <th>Folder</th>
					        </tr>
					        {% for folder in folder_list %}
					        <tr>
					          <td>
					            <a href="/doclist/{{ folder.id_folder }}">
					      		{{ folder.nm_folder }}
					      		</a>
					          </td>
					        </tr>
					        {% endfor %}    
					    </table>
					{% else %}
					    <p>No Documents was found!</p>
					{% endif %}
					
					
				</div> <!-- end content -->
			</div>


			<div id="centreouter">
				<div class="content">
					<h3>Document table</h3>
					{% if document_list %}
					    <table border=1>
					        <tr>
					          <th>Nombre</th>
					          <th>size</th>
					          <th>creation date</th>
					          <th>path</th>
					        </tr>
					        {% for document in document_list %}
					        <tr>
					          <td>
					            <!-- <a href="/prio/edit/{{ priority.id }}"> -->
					      		{{ document.nm_document }}
					      		<!--  </a>  -->
					          </td>
					          <td>
					          	{{ document.size }}
					          </td>
					          <td>
					          	{{ document.dt_create }}
					          </td>
					          <td>
					          	{{ document.path }}
					          </td>
					        </tr>
					        {% endfor %}    
					    </table>
					
					{% else %}
					    <p>No Documents was found!</p>
					{% endif %}
				</div> <!-- end content -->
			</div> <!-- end outer2 -->


			<div id="rightouter">
				<div class="content">
					<h3>Little Funcionality</h3>
					<p>This layout has been tested in IE6, IE7, Firefox, Opera, Safari(PC) and Chrome all latest versions.</p>
					<p>All the colors are background color, so there is no need for background images to give the impression of full height columns.</p>
					<p>All three columns will end at the footer.</p>
				</div> <!-- end content -->
			</div> <!-- end outer2 -->



		</div><!-- end #wrapper -->

		<div id="footer">
			<div class="content">
				<p>Copyright &copy;Panoro Energy 2013 | <a href="http://www.panoroenergy.com/?page_id=18" target="_blank">www.panoroenergy.com</a></p>
			</div>
		</div> <!-- end footer -->

</body>

</html>