{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
		
		{% if user.is_superuser %}
		    <br>
		    <h1 style="font-size: 18px;">{% trans "Password Reset" %}</h1>
		    {% if user.is_authenticated %}
		    	{% include "account/snippets/already_logged_in.html" %}
		    {% endif %}
		    
		    <p>Enter the e-mail address below, and we'll send an e-mail to user allowing you to reset it.</p>
		    <br>
		    <hr width=70% align="left">
		    <table>
		    <tr>
		    <form method="POST" action="" class="password_reset">
		        <td>
		        {% csrf_token %}
		        {{ password_reset_form.as_p }}
		        </td>
		        <td>
		        <input type="submit" value="{% trans "Reset Password" %}" />
		        </td>
		    </form>
		    </tr>
		    </table>
		    
		    <hr width=70% align="left">
		    <br>
		{% else %}
			<br><br>
    		<h1>Only the Admin can change the password</h1><br>
    		<h1>Please contact the administrator</h1>    
		{% endif %}
{% endblock %}			


{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
